<form action="<%= action %>" method="get">
  
<% if (fields.length) { %>
    <% fields.forEach(function(field){ %>
        <label><%= field.name %></label>
        <input type="<%= field.type %>" name="<%= field.name %>" value="<%= field.value %>" <% if (field.property) { %> <%= field.property %> <% } %> >
    <% }) %>
<% } %>
<button type="submit"><%= title %></button> <!--Title for button is same as that of the page-->
</form>
